/*pictures from freepik.com*/

/*text 94, 88, 88*/






/*dropdown*/
select:focus {
  outline: rgba(133, 173, 133, 0.5) !important;
    box-shadow: none !important;
    border-color: transparent !important;
    border: none;
}



.selection-button:focus {
    --bs-btn-focus-box-shadow: 0 0 0 0.9rem rgba(173, 133, 171, 0.9);
}

.dropdown-menu {
    --bs-dropdown-bg: rgb(228, 231, 228) !important;
    --bs-dropdown-link-hover-bg: rgba(133, 173, 133, 0.5) !important;
}

/*buttons









/*.scrollbar-custom::-webkit-scrollbar {
    width: 10px;
    background: rgba(228, 231, 228, 0.25);
    border-radius: 5px;

}

.scrollbar-invis::-webkit-scrollbar {
    display: none !important;

}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background: rgba(19, 32, 19, 0.9);
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
    background: rgba(19, 32, 19, 0.8);
}

::-webkit-scrollbar-thumb {
    background: rgba(19, 32, 19, 0.9);
    border-radius: 5px;
}


html, body {
    height: 100%;
    min-height: 100%;
}

.bg-container {
    background-color: rgba(19, 32, 19, 0.9);
    backdrop-filter: blur(5px) !important;

}

.container-bg-secondary {
    background-color: transparent;
}

.cursor-pointer {
    cursor: pointer !important;
}
*/

/*navigation

.navbar-brand:focus {
    color: rgb(133, 173, 133) !important;
    outline: rgba(228, 231, 228, 0.0) !important;
    box-shadow: rgba(228, 231, 228, 0.0) !important;
    border-color: rgba(228, 231, 228, 0.0) !important;
    border-radius: 1px !important;
    border-style: solid !important;

}

.basic-nav-dropdown {
    color: rgb(228, 231, 228) !important;
}

.nav-link:focus-visible {
    color: rgb(133, 173, 133) !important;
    outline: rgba(228, 231, 228, 0.0) !important;
    box-shadow: 0 0 0 0.25rem rgba(228, 231, 228, 0.0) !important;
    border-color: rgba(228, 231, 228, 0.0) !important;
    border-radius: 20px !important;
    border-style: solid !important;

}

.nav-font-style {
    font-size: 20px !important;
    color: rgb(228, 231, 228) !important;
}
*/

/*input*/


/*
.input-grp-label {

   background-color: transparent !important;
    color: rgb(228, 231, 228) !important;
   border-color: red !important;
    border-width: 1px !important;
    border-style: solid !important;
    font-size: 16px !important;

}

.input-grp-text {
    background-color: rgb(160, 171, 160) !important;

    border-color: rgb(228, 231, 228) !important;
    border-width: 1px !important;
    border-style: solid !important;
    font-size: 18px !important;

}*/


/*table grid*/













/*table carousel*/
.table-bg-transp-blur {
    backdrop-filter: blur(5px) !important;
    --bs-table-bg: transparent !important;
    --bs-table-color-state: black !important;
}




