/*pictures from freepik.com*/

/*text 94, 88, 88*/

.crowbar {
    min-width: 10vh;
    max-width: 20vh;
    width: 10324vh;
}


/*checkbox*/
input:focus {
    outline: rgba(133, 173, 133, 0.5) !important;
    box-shadow: 0 0 10px rgba(133, 173, 133, 0.5) !important;
    border-color: transparent !important;
    border: none;
}

.form-check-input {
    color: rgb(228, 231, 228);
}

.form-check-input:checked {
    background-color: rgb(133, 173, 133) !important;

    border: none;
}

/*dropdown*/
select:focus {
    outline: rgba(133, 173, 133, 0.5) !important;
    box-shadow: none !important;
    border-color: transparent !important;
    border: none;
}

.selection-button {
    border: none !important;
    outline: none !important;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.selection-button:focus {
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(133, 173, 133, 0.5);
}

.dropdown-menu {
    --bs-dropdown-bg: rgb(228, 231, 228) !important;
    --bs-dropdown-link-hover-bg: rgba(133, 173, 133, 0.5) !important;
}

/*buttons
.edit-button {
    border: none !important;
    outline: none !important;
    background-color: transparent;
}*/

.edit-button:focus {
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(133, 173, 133, 0.5);
}


.custom-button:focus, .custom-button:hover {
    outline: rgba(133, 173, 133, 0.5) !important;
    box-shadow: rgba(133, 173, 133, 0.5) !important;
    border-color: rgba(133, 173, 133, 0.5) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border: none !important;
    background-color: rgb(133, 173, 133) !important;

}

.custom-button {
    background-color: rgb(228, 231, 228) !important;
    border-style: solid !important;
    border: none !important;
    border-color: rgb(228, 231, 228) !important;
    font-weight: 500 !important;
}


/*body, containers, general
body {
    margin: 0;
    padding: 0;
    background-color: rgb(19, 32, 19) ;
    color: rgb(228, 231, 228) ;

}*/

.scrollable-SingleMonthTl {
    max-height: 300px;
    height: max-content;
    overflow-y: auto;

}

.scrollable-main {
    max-height: 90vh;
    overflow-y: auto;

}

/*.scrollbar-custom::-webkit-scrollbar {
    width: 10px;
    background: rgba(228, 231, 228, 0.25);
    border-radius: 5px;

}

.scrollbar-invis::-webkit-scrollbar {
    display: none !important;

}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background: rgba(19, 32, 19, 0.9);
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
    background: rgba(19, 32, 19, 0.8);
}

::-webkit-scrollbar-thumb {
    background: rgba(19, 32, 19, 0.9);
    border-radius: 5px;
}


html, body {
    height: 100%;
    min-height: 100%;
}

.bg-container {
    background-color: rgba(19, 32, 19, 0.9);
    backdrop-filter: blur(5px) !important;

}

.container-bg-secondary {
    background-color: transparent;
}

.cursor-pointer {
    cursor: pointer !important;
}
*/

/*navigation

.navbar-brand:focus {
    color: rgb(133, 173, 133) !important;
    outline: rgba(228, 231, 228, 0.0) !important;
    box-shadow: rgba(228, 231, 228, 0.0) !important;
    border-color: rgba(228, 231, 228, 0.0) !important;
    border-radius: 1px !important;
    border-style: solid !important;

}

.basic-nav-dropdown {
    color: rgb(228, 231, 228) !important;
}

.nav-link:focus-visible {
    color: rgb(133, 173, 133) !important;
    outline: rgba(228, 231, 228, 0.0) !important;
    box-shadow: 0 0 0 0.25rem rgba(228, 231, 228, 0.0) !important;
    border-color: rgba(228, 231, 228, 0.0) !important;
    border-radius: 20px !important;
    border-style: solid !important;

}

.nav-font-style {
    font-size: 20px !important;
    color: rgb(228, 231, 228) !important;
}
*/

/*input*/


.input-grp-label {
    background-color: transparent !important;
    color: rgb(228, 231, 228) !important;
    border-color: rgb(228, 231, 228) !important;
    border-width: 1px !important;
    border-style: solid !important;
    font-size: 16px !important;

}

.input-grp-text {
    background-color: rgb(160, 171, 160) !important;

    border-color: rgb(228, 231, 228) !important;
    border-width: 1px !important;
    border-style: solid !important;
    font-size: 18px !important;

}


/*table grid*/





.col-header {
    display: block;
    font-weight: normal;
    margin-bottom: 10px;
}

/*dot*/
.dot {
    align-content: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

/*dot colors*/

.selection-button-chosen {
    background-color: rgb(133, 173, 133) !important;
}

.selection-button-notchosen {
    background-color: rgb(228, 231, 228) !important;
}




.invisible {
    background-color: transparent;
}

/*modal

.edit-pen-color {
    color: rgb(228, 231, 228);
}

.modal-custom-bg {
    --bs-modal-bg: rgba(19, 32, 19, 0.3) !important;
    backdrop-filter: blur(5px) !important;
}

.btn-close {
    --bs-btn-close-color: rgb(228, 231, 228) !important;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(133, 173, 133, 0.25) !important;
    --bs-btn-close-bg: url('images/arrow-back-regular-108.png') !important;
    width: 20px !important;
    height: 20px !important;
}*/

/*table carousel*/
.table-bg-transp-blur {
    backdrop-filter: blur(5px) !important;
    --bs-table-bg: transparent !important;
    --bs-table-color-state: black !important;
}


/*table

.custom-table.table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: rgb(60, 68, 60) !important;
    color: rgb(228, 231, 228) !important;
}

.custom-table.table-striped > tbody > tr:nth-of-type(even) > * {
    background-color: rgb(48, 54, 48) !important;
    color: rgb(228, 231, 228) !important;
}

.custom-table {
    font-size: 1em;
    background-color: rgb(48, 54, 48) !important;
    color: rgb(228, 231, 228) !important;
}

.custom-table.table-bordered td,
.custom-table.table-bordered th {
    border: 2px solid rgba(255, 250, 250, 0.2);
}

.custom-table.table-hover > tbody > tr:hover > * {
    background-color: rgba(230, 230, 250, 0.2) !important;
}*/

/*carousel image*/
.reduced-saturation {
    filter: saturate(20%);
}

@media (min-device-width: 844px) {
    .image-container {
        max-height: 100vh;

        width: auto;


    }
}
@media (min-device-width: 1000px){
.image-container {
    max-height: 50vh;

    width: auto;
}

}
