@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$body-bg: #8CBAAE;
$body-color: #343a40;


$style-colors: (
        "sage": #8CBAAE,
        "sage-light": #c6dcd6,
        "plum": #5d576b,
        "buttery": #d7e9af,
        "peachy": #f18c7e
);
$action-colors: (
        "sowing": #674b37,
        "planting": #5c809e,
        "harvesting": #a77f1c,
        "flowering": #9a4179
);
$custom-colors: map-merge($action-colors, $style-colors);
$theme-colors: map-merge($theme-colors, $custom-colors);
$table-variants:map-merge($table-variants, $custom-colors);


$border-time-table: #F5F2E966;

$navbar-light-active-color: map-get($custom-colors, "sage");

$container-bg: rgba(map-get($custom-colors, "sage-light"), 0.2);

$grid-breakpoints: (
        xs: 0,
        sm: 1px,
        md: 576px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

$container-max-widths: (
        xs: 100%,  // Ensure the container is full width for xs
        sm: 1000px,
        md: 1002px,
        lg: 1003px,
        xl: 1140px,
        xxl: 1320px
);

$btn-font-weight: 500;
$btn-focus-box-shadow: rgba(225, 225, 225, 0.9);
$btn-border-width: 0;
$btn-hover-bg-tint-amount: 80%;

$input-bg: map-get($custom-colors, "sage-light");
$input-focus-bg: map-get($custom-colors, "sage-light");
$input-border-color: map-get($custom-colors, "sage-light");
$input-focus-border-color: $btn-focus-box-shadow;
$input-focus-box-shadow:$btn-focus-box-shadow;


$form-check-input-checked-bg-color: map-get($custom-colors, "sage-light");
$form-check-input-checked-color: $body-color;
$form-check-input-checked-border-color: map-get($custom-colors, "sage-light");
$form-check-input-bg: map-get($custom-colors,"sage");
$form-check-input-focus-border:map-get($custom-colors, "sage-light");
$form-check-input-focus-box-shadow:map-get($custom-colors, "sage");



@import "~bootstrap/scss/bootstrap";
@include make-grid-columns();
.container-style {
  background: $container-bg;
  border-radius: 8px;
}

@media (max-device-width: 950px) {

  .container {
    min-width: 100% !important;
  }

}


.nav-style {
  color: map-get($custom-colors, "sage");
}

.col-border {
  border-right: 2px dotted $border-time-table;
}

.col-border-top {
  border-top: 2px solid $border-time-table;
}

.year-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  align-content: center;

}
@media (max-width: 575px) {
  .year-grid {
    grid-template-columns: repeat(12, minmax(60px, 1fr)); /* Ensures a minimum width of 50px per column before scrolling */
  }
}

@media (max-width: 575px) {
  .sm-scroll {
    overflow-x: scroll;
  }
}

.mon-grid {
  display: grid;
  grid-template-columns:repeat(4, minmax(0, 1fr));
  align-content: center;

}

.btn-fixed-size {
  width: 170px;
}


.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the container without distortion */
}


@media (max-height: 370px){
  .carousel-item img{
    height: 140vh;
  }
}

@media (min-height: 371px) and (max-height: 600px){
  .carousel-item img{
    height: 100vh;
  }
}

@media (min-height: 601px){
  .carousel-item img{
    height: 50vh;
  }
}
@media (min-height: 500px) and (max-width: 500px){
  .carousel-item img{
    height: 70vh;
  }
}
@media (min-height: 500px) and (max-width: 400px){
  .carousel-item img{
    height: 90vh;
  }
}





